<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rpi Temp Log</title>
<style>

h1 {
color: #C93F3F;
font-family: Verdana,Geneva,sans-serif;
font-size: 30px;
text-align: left;
}


a {
color: #C93F3F;
font-family: Verdana,Geneva,sans-serif;
font-size: 25 px;
text-align: left;
}


table {
border-collapse: collapse;
width: 50%;
color: #C93F3F;
font-family: monospace;
font-size: 25px;
text-align: left;
}
th {
background-color: #3A3AEA;
color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}
</style>
</head>
<body>
<div><img src="https://www.raspberrypi.org/app/uploads/2011/10/Raspi-PGB001.png" width="200" height="200" align="left"/><h1>Sminfo Raspberry Pi Temperature Logger </h1></div>
<a href="https://pi.sminfo.me/temp/wiki" style='font-size:25px'>How it Works Code</a>

<table border="1" cellpadding="5" cellspacing="5">

  <thead>
    <th>ID</th>
    <th>Temp C</th>
    <th>Date/Time UTC</th>
  </thead>

{% for row in data %} 
   <tr>
    {% for d in row %}
        <td>{{ d }}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
</html>
