<!DOCTYPE HTML>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<html>
<body>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Sminfo Temp Logger</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://pi.sminfo.me">Current Raspberry Pi Temp: {{data0}}</a>
    </li>
  </ul>

</nav>
<h1>RPI Temp Logger</h1>
<p> A couple months ago I got a raspberry pi, I didn't use it much at that time, 
but now that most of America is in COVID-19 Quarantine, I had a lot more free time to learn coding.
I decided to utilize a database and run a simple temperature logger</p>

</body>
</html>
